## List

## append vs extend

In [4]:
numbers = [14,786,7]
print(numbers)
numbers.append( 500 )
print(numbers)
numbers.append (999)
print(numbers)
numbers.append ( [100, 100] )
print(numbers)
print(numbers[-1])

print('extend')
numbers.extend([500])
print( numbers )
numbers.extend([999,888,777])
print( numbers )

[14, 786, 7]
[14, 786, 7, 500]
[14, 786, 7, 500, 999]
[14, 786, 7, 500, 999, [100, 100]]
[100, 100]
extend
[14, 786, 7, 500, 999, [100, 100], 500]
[14, 786, 7, 500, 999, [100, 100], 500, 999, 888, 777]

In [5]:
print (numbers.index(888))
print (numbers[8])

8
888

In [6]:
numbers.insert(1, 1000)
print(numbers)

[14, 1000, 786, 7, 500, 999, [100, 100], 500, 999, 888, 777]

In [7]:
numbers.sort(reverse=True) #permanent
print(numbers)

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
nums = [ 562,4,778,2]
print(sorted(nums))
print (nums) #reverse back

[2, 4, 562, 778]
[562, 4, 778, 2]

In [ ]:
nested_list = [654, [[[48, [['65']]], 57]]]
print(nested_list)
print(len(nested_list))
print(nested_list[1]) #index 1 is 2nd one , index 0 is 1st one
print(len(nested_list[1]))
print(nested_list[1][0])
print( len(nested_list[1][0]) )
print( nested_list[1][0][0] )
print(nested_list[1][0][0][1])
print(nested_list[1][0][0][1][0][0])

[654, [[[48, [['65']]], 57]]]
2
[[[48, [['65']]], 57]]
1
[[48, [['65']]], 57]
2
[48, [['65']]]
[['65']]
65

In [ ]:
print(numbers)
print(numbers[::2]) #from the begin to end every 2nd value
print(numbers[::3])

[1000, 999, 999, 888, 786, 777, 500, 500, 14, 7]
[1000, 999, 786, 500, 14]
[1000, 888, 500, 7]

In [ ]:
print(14 in numbers)
print (bool())
print (bool('a'))

True
False
True

# operators with list

In [ ]:
print( [1,2,3] + [4,5,6])
print( [1,2,3] * 10)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
my_list = [1,2,3]
print(len(my_list))
my_list.append(4)
print(my_list)
5 in my_list

3
[1, 2, 3, 4]

False

In [ ]:
combined = [456,1,1,8] + [411,33,274]
print(combined)
combined.pop()
print(combined)
combined.sort()
print(combined)
print(combined.count(1))

[456, 1, 1, 8, 411, 33, 274]
[456, 1, 1, 8, 411, 33]
[1, 1, 8, 33, 411, 456]
2

## mutable and immutable

In [ ]:
a = 1
b = a
print('before')
print(id(a))
print(id(b))
b +=5
print('after')
print(id(a))
print(id(b))
print(a)
print(b) #mutable

before
4534381656
4534381656
after
4534381656
4534381816
1
6

In [ ]:
a = [1,2,3]
b = a
print('before')
print(id(a))
print(id(b))
b.append ( 999 )
print('after')
print(id(a))
print(id(b))
print(a)
print(b) #immutable

before
4578805952
4578805952
after
4578805952
4578805952
[1, 2, 3, 999]
[1, 2, 3, 999]

In [ ]:
# fixing mutable variable #1
a = [1,2,3]
b = a.copy() #makes a shallow copy
print('before')
print(id(a))
print(id(b))
b.append ( 999 )
print('after')
print(id(a))
print(id(b))
print(a)
print(b)

before
4573574720
4578794880
after
4573574720
4578794880
[1, 2, 3]
[1, 2, 3, 999]

In [ ]:
# where #1 does not work
a = [1,2,['a','b']]
b = a.copy() #makes a shallow copy
print('before')
print(id(a))
print(id(b))
b [-1].append ( 999 )
b.append( 999 )
print('after')
print(id(a))
print(id(b))
print(a)
print(b)

before
4578793344
4573574720
after
4578793344
4573574720
[1, 2, ['a', 'b', 999]]
[1, 2, ['a', 'b', 999], 999]

#fixing mutable variable #2

In [ ]:
import copy
a = [1,2, ['a','b'] ]
b = copy.deepcopy(a)
print('before')
print(id(a) )
print(id(b) )
b [-1].append ( 999 )
b.append( 999 )
print('after')
print(id(a))
print(id(b))
print(a)
print(b)

before
4500321728
4500315968
after
4500321728
4500315968
[1, 2, ['a', 'b']]
[1, 2, ['a', 'b', 999], 999]

## Tuple

In [8]:
my_tuple = (1,2, True, 'a')
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, True, 'a')

In [9]:
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:3])

1
a
(2, True)

In [10]:
my_list_2 = [1,2]
print(my_list_2)
my_list_2[0] = 100
print(my_list_2)

#can overwrite in list but not in tuple

[1, 2]
[100, 2]

In [12]:
my_tuple + (5, 55)

(1, 2, True, 'a', 5, 55)

In [13]:
my_tuple * 3

(1, 2, True, 'a', 1, 2, True, 'a', 1, 2, True, 'a')

In [17]:
print(my_tuple)
print(my_tuple.count(2))
print( my_tuple.index('a') )

(1, 2, True, 'a')
1
3

In [18]:
print( len(my_tuple) )
print( 2 in my_tuple)
print( 100 in my_tuple)

4
True
False

In [23]:
my_tuple = (1,2, ['3', 4, 5], [6, [7, (8)]])

print(my_tuple[-1][-1][-1])
#or
print(my_tuple[3][1][1])

8
8

In [31]:
#solution1
tuple1 = (11, [222, 33], 44, 55)

tmp_list = list(tuple1)
print(tmp_list)
tmp_list[1][1] = 22
print(tmp_list)
tuple1 = tuple(tmp_list)
print( tuple1)

[11, [222, 33], 44, 55]
[11, [222, 22], 44, 55]
(11, [222, 22], 44, 55)

In [34]:
#solution2 (works because there is a list inside tuple)

tuple1 = (11, [222, 33], 44, 55)
tuple1 [1][1] = 22
print(tuple1)

(11, [222, 22], 44, 55)

In [49]:
combined_tuple = (1,2,3) + (8,5,5,5,10)
print(combined_tuple)

tmp_list = list(combined_tuple)
print(tmp_list)
tmp_list.pop(-1)
print(tmp_list)
combined_tuple = tuple(tmp_list)
print(combined_tuple)
print( sorted(combined_tuple))
print( combined_tuple.count(5))
#option 1 for largest value
print( sorted(combined_tuple)[-1])
#option 2 for largest value
print( max( combined_tuple ))

(1, 2, 3, 8, 5, 5, 5, 10)
[1, 2, 3, 8, 5, 5, 5, 10]
[1, 2, 3, 8, 5, 5, 5]
(1, 2, 3, 8, 5, 5, 5)
[1, 2, 3, 5, 5, 5, 8]
3
8
8

## Range declaration

In [53]:
print( range(10))
print( type( range(10) ) )
print( list(range(10) ) ) #does not include the end number
print( list(range(-4,10) ) )
print( list(range(-4,10,3) ) )

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-4, -1, 2, 5, 8]

## For loop

In [58]:
cities = ['Vilnius','Kaunas','London','Berlin']
print( cities )

# for <variable name> in <sequence>:
for city in cities:
    print('hello')
    print( city )

['Vilnius', 'Kaunas', 'London', 'Berlin']
hello
Vilnius
hello
Kaunas
hello
London
hello
Berlin

In [63]:
for x in cities:
    print('hello')
    print( city )
    print('end for loop iteration')

print('end of cell')

hello
Berlin
end for loop iteration
hello
Berlin
end for loop iteration
hello
Berlin
end for loop iteration
hello
Berlin
end for loop iteration
end of cell

In [69]:
for city in cities:
    print(f'{city} is a beautiful city!')

print('End of loop')

Vilnius is a beautiful city!
Kaunas is a beautiful city!
London is a beautiful city!
Berlin is a beautiful city!
End of loop

In [71]:
for number in range(3,53,4):
    print(f'{number}^2 = {number**2}')

3^2 = 9
7^2 = 49
11^2 = 121
15^2 = 225
19^2 = 361
23^2 = 529
27^2 = 729
31^2 = 961
35^2 = 1225
39^2 = 1521
43^2 = 1849
47^2 = 2209
51^2 = 2601

In [1]:
numbers = [5,6,7,5,8,9,10]
# i or idx
for i in range( len(numbers) ):
    print( numbers[i])

print('end')

5
6
7
5
8
9
10
end