In [1]:
name = 'Auguste'

In [8]:
print( '1972'.isdigit())
print( '1972 '.isdigit())
print( '1972      '.strip())
print( '1972      '.strip().isdigit())
print( '19 72      '.strip().isdigit())
print( '19 72      '.strip())

True
False
1972
True
False
19 72

String operations

In [9]:
'Auguste'+' '+'hello'

'Auguste hello'

In [10]:
'hi ' * 1000

'hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi '

String formating. f-string

In [28]:
name = 'Auguste'
surname = 'Sukackaite'
number =42

#print

print( name + ' ' + surname + ', nice to meet you! Your number is ' + str(number) + '.' )

#f-string

print( f'{name} {surname}')
print( f'{name} {surname}, nice to meet you! Your number is {number}.')
print( f'{     name} {surname     }, nice to meet you! Your number is {  number}.') #spaces to not affect
print( f'{name}         {surname}, nice to meet you! Your number is {number}.') #affect
print( f'{name} {surname}')
print( f'{name} {surname}, nice to meet you! Your number is {number + 4}.') #add to a number

Auguste Sukackaite, nice to meet you! Your number is 42.
Auguste Sukackaite
Auguste Sukackaite, nice to meet you! Your number is 42.
Auguste Sukackaite, nice to meet you! Your number is 42.
Auguste         Sukackaite, nice to meet you! Your number is 42.
Auguste Sukackaite
Auguste Sukackaite, nice to meet you! Your number is 46.

In [30]:
vardas = 'Auguste'
pavarde = 'Sukackaite'
print( vardas + ' ' + pavarde)
print(f'{vardas} {pavarde}')

Auguste Sukackaite
Auguste Sukackaite

In [37]:
text_1 = 'Python makes me really happy! To'
print( text_1.upper() )
print( text_1.replace('Python','PyThOn') )
print( text_1.replace('t','T').replace('o','O') )

PYTHON MAKES ME REALLY HAPPY! TO
PyThOn makes me really happy! To
PyThOn makes me really happy! TO

In [47]:
text = 'Hello World, I am happy to learn Python!'
word_to_find = 'happy'
print( text.find(word_to_find) )
print( text.index(word_to_find) )
print( text [text.index(word_to_find):])
print( text [text.index(word_to_find): text.find(word_to_find) + len(word_to_find)]) #input can change,flexible, will adabt
print( text [18 : 18 + 5]) #output would not addapt
word_to_find = 'to'
print( text [text.index(word_to_find): text.find(word_to_find) + len(word_to_find)])
print( len(text))

18
18
happy to learn Python!
happy
happy
to
40

Integer declartion

In [49]:
number_symbol = '1'
int_1 = 1
float_1 = 1.0
float_2 = 1.

print(type(number_symbol))
print(type(int_1))
print(type(float_1))
print(type(float_2))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>

## operations

In [60]:
print( 5 + 10)
print( 5 - 10)
print( 5 * 10)
print( 5 / 10)
print('other operations')
print(2 ** 2)
print(2 ** 3) #2 in a power of 3
print(2 ** 5) #2 in a power of 5
print('floor division')
print( 15 // 10) #to get only full numbers
print( 25 // 10)
print('modulus division')
print( 15 % 10)
print( 25 % 10)
print( 734568 % 3) #to see if can divide by 3
print( 734569 % 3)

15
-5
50
0.5
other operations
4
8
32
floor division
1
2
modulus division
5
5
0
1

In [67]:
my_sum = 0
my_sum += 5.4
print(my_sum)
my_sum += 1.0
print(my_sum)

multiplication = 1
multiplication *= 10
print(multiplication)
multiplication *= 0.5
print(multiplication)

5.4
6.4
10
5.0

In [70]:
int_1 = 5
int_2 = 10
print( int_1 + int_2)
print( int_1 - int_2)
print( int_1 / int_2)
print( int_1 * int_2)
print( int_1 % int_2)

15
-5
0.5
50
5

In [71]:
float_1 = 5.5
float_2 = 10.54
print( float_1 + float_2)
print( float_1 - float_2)
print( float_1 / float_2)
print( float_1 * float_2)
print( float_1 % float_2)

16.04
-5.039999999999999
0.5218216318785579
57.97
5.5

In [79]:
dist_sun = 150_000_000 #for bigger numbers
dist_moon = 384_000
print( f'Distance to the Sun is greater {dist_sun//dist_moon} times than distance to the Moon.' )

speed = 150 #km/h
day = speed * 24
month = day * 30
year = month * 12
minutes = speed / 60
seconds = minutes / 60

print(dist_moon/speed)
print(dist_moon/day)
print(dist_moon/month)
print(dist_moon/year)
print(dist_moon/minutes)
print(dist_moon/seconds)

Distance to the Sun is greater 390 times than distance to the Moon.
2560.0
106.66666666666667
3.5555555555555554
0.2962962962962963
153600.0
9216000.0

In [80]:
(2023 - 1993) * 365

10950

In [86]:
from datetime import date

d0 = date( 1993, 5, 23)
d1 = date.today()
print(d0)
print(d1)
delta = d1 - d0
print(delta.days)

1993-05-23
2023-03-05
10878

## Boolean declaration (true or false)

In [90]:
bool_true = True
print(bool_true)
print(type(bool_true))
bool_false = False
print(bool_false)
print(type(bool_false))
print(int(bool_true))
print(int(bool_false))

True
<class 'bool'>
False
<class 'bool'>
1
0

In [93]:
print( bool ( 1 ) )
print( bool ( 100000 ) )
print( bool ( -0.100000 ) )
print( bool ( 0 ) ) #only possible way to get false from number

True
True
True
False

In [95]:
print( bool ( 'hello' ) )
print( bool ( '45' ) )
print( bool ( ' ' ) )
print( bool ( '' ) ) #only possible way to get false from string

True
True
True
False

In [103]:
print ( 5 > 4 )
print ( 5 < 4 )
print ( 5 >= 5 )
print ( 5 >= 6 )
print ( 5 <= 6 )
print ( 5 == 5) # == is a comparison if equal
print ( 5 == 6)
print ( 5 != 6) # not equal
print ( 5 != 5) # not equal

True
False
True
False
True
True
False
True
False

## in

In [110]:
text = 'Hello world'
bool_1 = 'd' in text
print(bool_1)
bool_2 = 'D' in text
print(bool_2)
print( text.islower())
print( text.lower().islower())
print( 'h' in text.lower())

True
False
False
True
True

## not

In [111]:
print( not True)
print( not False)
print( not not False)

False
True
False

## and, or

In [114]:
a = 2
b = 5
c = -10

print (a < b and b > c)
print (a < b and b < c)
print (a < b or b > c)

True
False
True

In [115]:
print (a < b and b > c or  1 > 5)

True

In [120]:
print (10 > 5)
print ( 'a' in 'auto')
test = bool(1)
print(test)
print(bool('oo'))
print( not False)
print('')
print (10 < 5)
print ( 'f' in 'auto')
test = bool(0)
print(test)
print(bool(''))
print( not True)

True
True
True
True
True

False
False
False
False
False

In [121]:
print(bool(0))
print(bool(''))

False
False

## List

In [127]:
cities = ['Vilnius', 'Kaunas', 'London']
print(cities)
print( type(cities))
print(cities[0] )
print( type(cities[0]))
print(cities[1:] )
print(cities[:2] )

['Vilnius', 'Kaunas', 'London']
<class 'list'>
Vilnius
<class 'str'>
['Kaunas', 'London']
['Vilnius', 'Kaunas']

In [130]:
numbers = [ 1,654,7,6987,7,'87', False ] # try not to mix types
print(len(numbers))
print(type(numbers[0]))
print(type(numbers[-1]))
print(type(numbers[-2]))

7
<class 'int'>
<class 'bool'>
<class 'str'>

In [135]:
numbers = [14,786,7]
print(numbers)
numbers.append( 500 )
print(numbers)
numbers.append (999)
print(numbers)
print(numbers.pop ())
print(numbers)

[14, 786, 7]
[14, 786, 7, 500]
[14, 786, 7, 500, 999]
999
[14, 786, 7, 500]